 body {
        padding-top: 55px;
        padding-bottom: 40px;
        
      }

.nav-list > li > a,
.nav-list > li > a:hover {    
    color: #303030;
    background-color: #a5a5a5;
    border-bottom: 1px solid #9b9b9b;
    border-top: 1px solid #bcbcbc;
    font-weight:bold;
    height:40px;
}

.nav-list > li.active > a,
.nav-list > li.active > a:hover {    
    color: #303030;
    background-color: #fff;
    height:60px;
    
}

.navbar .btn {
    padding:10px;
}

.icon {
    float:right;
    height:20px;
    margin-left:15px;
    margin-right:5px;
}
	  
.leaderboard {
  padding: 60px;
  margin-bottom: 30px;
  background-repeat:repeat;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.leaderboard h1 {
  font-size: 40px;
  margin-bottom: 5px;
  line-height: 1;
  letter-spacing: -1px;
  color:#FF6600;
}
.leaderboard p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
}

.well {
  min-height: 20px;
  padding: 0px;
  margin-bottom: 0px;
  background-color: #f5f5f5;
  border: none;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.05);
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  *zoom: 1;
}

.nav .nav-header {
font-size: 11px;
text-shadow:none;
color:#C9C9C1;
padding:10px;
}

#participant-container {
    background: #a5a5a5;
}

#participant-header {
    background: #636363;
}

.row-fluid .span3 {
    width: 220px;
    position: fixed;
    height: 100%;
}
.row-fluid .span3 .well {
    height: 100%;
    border-right: 1px solid #a5a5a5;
}
.row-fluid .span3 .well ul {
    height: 100%;
}
.row-fluid .span9 {
    margin-left: 220px;
    width: auto;
}
#main-tab-content {
    padding-left: 20px;
}

.researcher-post {
    border:none;
    margin-left:32px;

}

.float-right {
    float:right;
}

#feed-name {
    font-family:'Quattrocento Sans', sans-serif;
}

#profile-details {
    overflow:hidden;
}

#profile-image {
    float:left;
}

.profile-image {
    height:30px;
    float:left;
}

.nav-name {
    text-align:center;
    margin-left:20px;
    margin-top:10px;

}

#profile-name {
    top:40px;
    padding-top:10px;
}

#researcher-image {
    width:30px;
    margin-top:8px;
    margin-right:10px;
}

#researcher-name {
    text-align:right;
    font-weight:bold;
    font-family: 'Quattrocento Sans';
    color:white;
    padding-top:18px;
    margin-right:20px;
}

.reply{
    border: none;
    margin-left: 32px;
    background-color:white;
    width:550px;
    min-height:100px;
    margin:auto;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
}

.reply-body {
    width: 310px;
    font-size:16px;
}

.text-r {
    text-align: right;
    
}


.text-p {
    text-align: left;
    padding:20px;
}