<!doctype html>
<head>
  <meta charset="utf-8">

  <title>Email generation</title>
  <meta name="description" content="My Parse App">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.0.14.min.js"></script>
  <script src="/js/underscore.js" type="text/javascript"></script> 
  <script src="/js/backbone.js" type="text/javascript"></script> 
  <script src="/js/json2.js" type="text/javascript"></script> 
  <script src="/js/app.js" type="text/javascript"></script> 
      
  <script type="text/template" id="participant-template">
    
      <td><input name="check_<%= email %>" type="checkbox"></td>
      <td><%= firstName %></td>
      <td><%= lastName %></td>
      <td><%= email %><input type="hidden" name="email" ></td>
      <td><%= phoneNumber %></td>
    
  </script>


</head>

<body>
  <div class="container" id="main">
    <h2>Participants you will email: </h2>

    <form method="POST" action="email/submit" class="form-horizontal">
    <table id="participant_table" class="table table-striped" >
      <thead id="participants">

          <tr>
            <th><input name="check_all" id="check_all" type="checkbox">All</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
          </tr>
      </thead>


    </table>

      <fieldset>
        <legend>Email body</legend>
        <div class="control-group">
          <label class="control-label" for="input01">Subject</label>
          <div class="controls">
            <input name="subject" type="text" class="input-xlarge" id="input01">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="textarea">Email Body</label>
          <div class="controls">
          <textarea name="body" class="input-xlarge" id="textarea" rows="10">
            <b>Hello %firstname%, /n </b>
          </textarea>
      <br>
      <br>

      <button class="btn btn-small btn-primary">
        Submit
      </button>
          </div>
        </div>


  </div>

  <script type="text/javascript">

    // var participant = Parse.Object.extend("Participant");
    // var query = new Parse.Query(Participant);
    // query.find({
    //   success: function(participant) {
    //     // Comments now contains the last ten comments, and the "post" field
    //     // has been populated. For example:
    //     for (var i = 0; i < comments.length; i++) {
    //       // This does not require a network access.

    //     var firstName = participant[i].get("first_name");
    //     var lastName = participant[i].get("last_name");
    //     var emailAddress = participant[i].get("email_address");
    //     var phoneNumber = participant[i].get("phone_number")
    //     }
    //   }      
    // });
    // what if does not know objectid



    // var TestObject = Parse.Object.extend("TestObject");
    // var testObject = new TestObject();
    //   testObject.save({foo: "bar"}, {
    //   success: function(object) {
    //     $(".success").show();
    //     alert("yay! it worked");
    //   },
    //   error: function(model, error) {
    //     $(".error").show();
    //   }
    // });

  </script>
</body>

</html>
