<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Researcher Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Example of Fluid Layout with Twitter Bootstrap version 2.0 from w3resource.com">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">		    
	<link href="css/feed.css" rel="stylesheet">	
	
	<script type="text/javascript" src="//use.typekit.net/cgr6ryz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="twitter-bootstrap-v2/docs/examples/images/favicon.ico">
    <link rel="apple-touch-icon" href="twitter-bootstrap-v2/docs/examples/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="twitter-bootstrap-v2/docs/examples/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="twitter-bootstrap-v2/docs/examples/images/apple-touch-icon-114x114.png">
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
      <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.0.14.min.js"></script>
      <script src="/js/underscore.js" type="text/javascript"></script> 
      <script src="/js/backbone.js" type="text/javascript"></script> 
      <script src="/js/bootstrap-tab.js" type="text/javascript"></script>       
      <script src="/js/json2.js" type="text/javascript"></script> 
      <script src="/js/date-format.js" type="text/javascript"></script> 
      <script src="/js/feed.js" type="text/javascript"></script>
      <script type="text/javascript" src="/js/tooltip.js"></script>
    	



    <!-- left particpiant list --> 
    <script id="participant-li-template" type="text/template">
        <a class="target" href="#tab-<%= id %>" data-toggle="tab"><%= firstName %> <%= lastName %></a>
    </script>
   
    <script id="feed-container-template" type="text/template">
          <br>
          <h1><%= firstName %> <%= lastName %></h1>
          <div class="posts"></div>
        
    </script>
    <script id="feed-template" type="text/template">
        <div style="overflow: hidden">            
            <div class="date-container" style="float:left">
                <% if (!isResearcher) { %>
                <div class="month"><%= month %></div>
                <div class="day"><%= day %></div>
                <div class="time"><%= time %></div>            
                <% } else { %>                
                    &nbsp;
                    <% } %>
            </div>
            <div style="float: left" class="post <% if (isResearcher) { %>researcher<% } else { %>user<% } %>-post triangle-border <% if (isResearcher) { %>right<% } else { %>left<% } %>">
                <% if (attachments) { %>
                    <% for (var i = 0; i < attachments.length; i++) { %>
                        <div><img style="width: 510px" src="<%= attachments[i] %>"></div>
                    <% } %>
                <% } %>
                <div class="text-<%= type %>">
                  <%= body %>
                  <% if (!isResearcher) { %>
                    <br><br><a class="btn btn-info" href="#">Reply</a>
                  <% } %>
          
                </div>
            </div>
            <div class="date-container" style="float:left">
                <% if (isResearcher) { %>            
                <div class="month"><%= month %></div>
                <div class="day"><%= day %></div>
                <div class="time"><%= time %></div>            
                <% } else { %>                
                    &nbsp;
                    <% } %>
            </div>
        </div>
        <div id="reply-container-<%= id %>"></div>
    </script>

  <script id="feed-reply-template" type="text/template">
    <br>
    <div class="reply" id="replyemail">
      <form method="POST" action="email/submit" class="form-horizontal">
        <fieldset>
            <legend>Reply to </legend>
            <div class="control-group">
              <label class="control-label" for="input01">Subject</label>
              <div class="controls">
                <input name="subject" type="text" class="reply-body" id="emailsubject" value="<%= subject %>">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" class="reply-body" for="textarea">Email Body</label>
              <div class="controls">
              <textarea name="body" class="reply-body" id="emailbody" rows="5"></textarea>
              <br>
              <br>
              <a href="#" class="btn btn-primary">Submit</a> <a href="#" class="btn btn-danger">Cancel</a>
              </div>
            </div>
          </legend>
        </fieldset>
      </form>
    </div>
  </script>

  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <ul class="nav">
         </ul>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list" id="participant-container">
          	
                <li class="nav-header" id="participant-header">Participants 
                <span><a href="#"><img id="action-add" class="icon" rel="tooltip" src="../images/icon_add.png" /></a>
                <a href="#"><img class="icon" id="action-email" rel="tooltip" src="../images/icon_email.png" /></a></span>
                
                </li>               
           </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
            <div id="main-tab-content">
            </div>
        </div> 
     </div>
     </div>


  </body>
</html>
