<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Example of Fluid Layout with Twitter Bootstrap version 2.0 from w3resource.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Example of Fluid Layout with Twitter Bootstrap version 2.0 from w3resource.com">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/feed.css" rel="stylesheet">	
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="twitter-bootstrap-v2/docs/examples/images/favicon.ico">
    <link rel="apple-touch-icon" href="twitter-bootstrap-v2/docs/examples/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="twitter-bootstrap-v2/docs/examples/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="twitter-bootstrap-v2/docs/examples/images/apple-touch-icon-114x114.png">
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
      <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.0.14.min.js"></script>
      <script src="/js/underscore.js" type="text/javascript"></script> 
      <script src="/js/backbone.js" type="text/javascript"></script> 
      <script src="/js/bootstrap-tab.js" type="text/javascript"></script>       
      <script src="/js/json2.js" type="text/javascript"></script> 
      <script src="/js/feed.js" type="text/javascript"></script>
    <script id="participant-li-template" type="text/template">
        <li><a href="#tab-<%= id %>" data-toggle="tab"><%= firstName %> <%= lastName %></a></li>
    </script>
    <script id="participant-main-template" type="text/template">
        <div id="tab-<%= id %>" class="tab-pane" ><%= firstName %> <%= lastName %> &#39; content here!
        </div>
    </script>
    <script id="feed-head-template" type="text/template">
        <div> 
          <h1><%= firstName %> <%= lastName %></h1>
        </div>
    </script>
    <script id="feed-template" type="text/template">

        <div class="tab-pane" > 
          <h2><%= subject %></h2>
          <br> <%= body %> 
        </div>
    </script>

  <script id="feed-email-template" type="text/template">
   <fieldset>
        <legend>Email</legend>

        <div class="control-group">
          <label class="control-label" for="input01">From:</label>
          <div class="controls">
            <input name="researcher_email" type="text" class="input-xlarge" id="input01" value="survey@youxresearch.com">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="input01">Subject</label>
          <div class="controls">
            <input name="subject" type="text" class="input-xlarge" id="input01" id="emailsubject">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="textarea">Email Body</label>
          <div class="controls">
          <textarea name="body" class="input-xlarge" id="emailbody" rows="10"></textarea>
          <br>
          <br>
          <button class="btn btn-small btn-primary">
            Submit
          </button>
          </div>
        </div>
      </legend>
    </fieldset>
  </script>

  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list" id="participant-container">
                <li class="nav-header">Participants</li>
<!--                            <li class="active"><a href="#">HTML 4.01</a></li>
                            <li><a href="#">HTML5</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                          <li><a href="#">Twitter Bootstrap</a></li>
                          <li><a href="#">Firebug</a></li>
                            <li class="nav-header">Backend</li>
                            <li><a href="#">PHP</a></li>
                            <li><a href="#">SQL</a></li>
                            <li><a href="#">MySQL</a></li>
                            <li><a href="#">PostgreSQL</a></li>
                            <li><a href="#">MongoDB</a></li> -->
                
           </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
            <div id="main-tab-content" class="tab-content">
                
            </div>
          <hr>
     <footer>
        <p>© Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->


  </body>
</html>
